/* ==========================================================================
   Pathfinder Styles
   ========================================================================== */
/* Sass variables */
/* Sass mixins */
body {
  background: #ecf1f3;
  position: relative; }
  body.story2 {
    background: #f4f2f2; }

section {
  margin-bottom: 0px;
  padding-bottom: 40px;
  background: white;
  padding-top: 60px; }

p {
  margin: 0 0 40px; }

.relative {
  position: relative; }

.baseline {
  vertical-align: baseline; }

textarea, input {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  letter-spacing: .25px;
  line-height: 20px;
  padding: 10px; }
  textarea:focus, input:focus {
    outline: none !important;
    border: 0px solid red;
    box-shadow: 0 0 0px #719ECE; }

.tiny_margin_bottom {
  margin-bottom: 10px; }

.tiny_margin_top {
  margin-top: 10px; }

.margin_bottom_huge {
  margin-bottom: 100px; }

.margin_bottom_big {
  margin-bottom: 60px; }

.margin_bottom_med {
  margin-bottom: 40px; }

.margin_bottom_20 {
  margin-bottom: 20px; }

.padding_top_20 {
  padding-top: 20px; }

.padding_top_50 {
  padding-top: 50px; }

.no_padding {
  padding: 0; }

.padded_section {
  padding-right: 75px;
  padding-left: 75px; }

.body_text {
  font-family: "Crimson Text", serif;
  font-size: 18px;
  line-height: 30px; }

.caption_upper {
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.8px; }

.small_title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 60px; }

.small_body {
  font-family: "Crimson Text", serif;
  font-size: 13px; }

.nav_style {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase; }

.vertical_bar {
  background: black;
  height: 50px;
  width: 1px;
  margin: 0 auto 60px auto; }

.highlight {
  font-family: "Crimson Text", serif;
  font-size: 36px;
  line-height: 50px;
  margin-bottom: 20px; }

.more_text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-bottom: 40px;
  text-align: center; }

.vertical_align {
  display: flex;
  align-items: center; }

.show_less_or_more {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  width: 150px;
  height: 20px;
  background: url("../img/show_more_arrow.png") 5px 5px no-repeat;
  padding-left: 50px;
  margin: 0 auto 0px auto;
  cursor: pointer;
  position: relative; }
  .show_less_or_more.open {
    background-image: url("../img/show_less_arrow.png"); }
  .show_less_or_more .show_more_text, .show_less_or_more .show_less_text {
    position: absolute; }

.see_more_no_toggle {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  width: 150px;
  height: 20px;
  padding-left: 28px;
  margin: 20px 0;
  background: url("../img/btn-arrow-right.png") 0px 5px no-repeat;
  cursor: pointer; }

.normal_text {
  font-family: "Crimson Text", serif;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 60px;
  text-align: left; }

.show_less {
  display: none; }

.show_less_text {
  display: none; }

.header_text {
  margin-bottom: 40px;
  font-family: "Crimson Text", serif;
  font-size: 36px;
  line-height: 50px; }
  .header_text.margin_bottom_big {
    margin-bottom: 100px; }

.background_me {
  background: #f0f0f0; }

.pad_me {
  padding: 20px; }

.no_bottom_padding {
  padding-bottom: 0; }

.header_container {
  position: relative;
  margin-bottom: 40px; }
  .header_container .header_image {
    width: 100%;
    height: auto; }
  .header_container .header_title {
    background: white;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0px 0px 0px;
    display: inline-block;
    width: 350px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 24px;
    letter-spacing: 4px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center; }

.title_hr_container {
  text-align: center;
  position: relative;
  margin-bottom: 60px; }

.title_hr {
  background: #979797;
  width: 100%;
  height: 1px; }

.half_hr {
  width: 50px;
  background: #000;
  height: 1px;
  margin-bottom: 30px;
  margin-top: 25px; }
  .half_hr.tall {
    height: 2px;
    margin-top: 20px;
    margin-bottom: 20px; }

.title_text {
  position: absolute;
  width: 270px;
  height: 40px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  top: -16px;
  background: white;
  padding: 5px 20px;
  text-transform: uppercase;
  z-index: 10;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase; }

/* nav */
.pathfinder_nav {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  position: fixed;
  z-index: 25;
  background: white;
  height: 60px;
  left: 0;
  right: 0;
  top: 0;
  margin-left: auto;
  margin-right: auto; }
  .pathfinder_nav .current_bar {
    width: 20px;
    height: 2px;
    background: white;
    margin: 0 auto; }
  .pathfinder_nav .active .current_bar {
    background: black; }
  .pathfinder_nav.not_top {
    box-shadow: 2px 2px 4px 2px rgba(184, 183, 183, 0.5); }
  .pathfinder_nav li {
    display: inline-block;
    padding-top: 10px; }
    .pathfinder_nav li a {
      text-transform: uppercase;
      color: #000000;
      transition: color 150ms linear; }
      .pathfinder_nav li a:hover {
        color: #ffcc1b; }

.nav > li > a:hover, .nav > li > a:focus {
  background: white; }

.topic_box {
  border: 1px solid black;
  padding: 20px 40px;
  position: absolute;
  font-weight: bold;
  left: 0;
  top: 24px;
  min-width: 200px;
  white-space: nowrap;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  transition: all .3s ease-in-out;
  cursor: pointer; }
  .topic_box.not_top {
    top: 9px;
    padding: 10px 20px; }

/* Spotlight Section */
.spotlight_header {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.8px;
  display: none; }

.map_container {
  width: 83px;
  height: 54px;
  margin: 0 auto;
  background: url(../img/map.png) no-repeat;
  position: relative; }
  .map_container .map_point {
    position: absolute;
    border-radius: 50%;
    width: 1px;
    height: 1px;
    transition: all 2s linear;
    opacity: .8;
    background: #D8D8D8; }
  .map_container .map_spot_1 {
    left: 20px;
    top: 10px; }
  .map_container .map_spot_2 {
    left: 70px;
    top: 10px; }
  .map_container.animate .map_point {
    width: 30px;
    height: 30px;
    margin-left: -15px;
    margin-top: -15px; }

.spotlight_container {
  background: white; }

.spotlight_row {
  padding-bottom: 10px;
  padding-top: 20px;
  margin-bottom: 0; }

.spotlight_number {
  font-weight: bold;
  font-size: 36px;
  font-family: "Source Sans Pro", sans-serif;
  margin-top: -10px;
  margin-bottom: 5px; }

.spotlight_small {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  letter-spacing: .25px;
  line-height: 20px; }

.spotlight_graph {
  margin-bottom: 17px; }

/* Overview */
.overview_background {
  width: 100%;
  background: url(../img/context_background.jpg) no-repeat;
  background-size: contain;
  padding-top: 100px; }

.overview_big_text {
  font-size: 25px;
  margin-bottom: 40px; }

.context_additional {
  display: none;
  margin-top: 60px; }

.overview_image_container {
  margin-bottom: 40px; }
  .overview_image_container img {
    width: 100%;
    height: auto; }

.follow_button_container {
  position: relative;
  z-index: 20;
  width: 300px;
  margin: 0 auto; }

.more_details_button {
  background: #FFC462 url("../img/btn-follow-story.png") 40px 17px no-repeat;
  width: 300px;
  margin: 100px auto 90px auto;
  padding: 15px 0px 15px 84px;
  cursor: pointer;
  margin-top: 80px;
  color: black;
  border-radius: 5px;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  position: relative; }

.digest_signup_form {
  position: absolute;
  width: 300px;
  border: 1px solid .digest_signup_form grey3;
  background: white;
  left: 0px;
  top: 50px;
  border-radius: 5px;
  padding: 20px;
  -webkit-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: black;
  display: none; }
  .digest_signup_form .follow_story_submit {
    background: #FFC462;
    padding: 15px 0px 15px 84px;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    font-family: "Source Sans Pro", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    margin-top: 40px; }
  .digest_signup_form .box_top_triangle {
    position: absolute;
    top: -10px;
    width: 20px;
    left: 145px;
    height: 10px;
    background: url("../img/box_top_triangle.png") no-repeat; }
  .digest_signup_form .digest_form_title {
    margin: 20px auto 10px auto;
    color: black;
    text-align: center; }
  .digest_signup_form .digest_form_hr {
    height: 3px;
    width: 100%;
    margin: 0 auto 20px 0;
    background: #ffcc1b; }
  .digest_signup_form .digest_email_field {
    margin-bottom: 20px;
    width: 100%;
    height: 30px;
    border: 1px solid #BABABA;
    padding: 25px;
    color: black; }
  .digest_signup_form .how_often {
    font-weight: bold; }
  .digest_signup_form .radio_box {
    width: 100%;
    display: block;
    border: 1px solid #BABABA;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 10px; }
    .digest_signup_form .radio_box input {
      display: inline-block;
      border: 1px dashed orange;
      margin-right: 20px; }

.top_title {
  font-family: "Crimson Text", serif;
  font-size: 64px;
  line-height: 85px;
  margin-bottom: 20px; }

.sub_title {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
  font-family: "Crimson Text", serif; }

/* Top Section */
.main_title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  letter-spacing: 4px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 60px;
  line-height: 20px; }

.header_bar {
  background: #F8E71C;
  height: 2px;
  width: 100%; }

.top_section_background {
  background: #ecf1f3; }
  .top_section_background.story2 {
    background: #fbe2d5; }

.top_section {
  background: #ecf1f3;
  padding: 100px 0 80px 0;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 0; }

.story2 .top_section {
  background: #fbe2d5; }

/* end Top Section */
.header_link {
  font-weight: bold; }

/* Activity Section */
.activity_col {
  position: relative; }

.timeline_graph_toggle {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  margin-bottom: 40px; }
  .timeline_graph_toggle .active, .timeline_graph_toggle .inactive {
    width: 100px;
    padding: 10px 0;
    display: inline-block; }
  .timeline_graph_toggle .active {
    background: white;
    border: 1px solid black; }
  .timeline_graph_toggle .inactive {
    background: #f0f0f0;
    border: 1px solid #f0f0f0; }

.hidden_timeline_items {
  display: none; }

.activity_date {
  text-transform: uppercase;
  font-size: 10px;
  color: #ccc; }
  .activity_date.highlight {
    color: #000; }
  .activity_date.timeline2 {
    margin-top: 35px; }

.first_item {
  margin-top: 20px; }

.equal_col_height_row {
  display: flex; }

.equal_col_height_row > [class*='col-'] {
  display: flex;
  flex-direction: column; }

.full_back_image {
  background-image: url(../img/arctic1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-right: 14px solid white; }

.timeline_item {
  margin-bottom: 40px;
  position: relative; }
  .timeline_item.expandable {
    cursor: pointer; }
  .timeline_item.last_default_timeline_item {
    margin-bottom: 0; }
  .timeline_item.first_expanded_timeline_item {
    margin-top: 40px; }
  .timeline_item .sources {
    margin: 20px 0;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
    letter-spacing: .25px;
    line-height: 20px; }
  .timeline_item .timeline_title {
    display: inline-block;
    color: #949494; }
  .timeline_item .read_more {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
    color: #8C8C8C;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    cursor: pointer;
    position: absolute;
    bottom: 30px;
    left: 20px;
    width: 100px; }
    .timeline_item .read_more .read_less_text {
      display: none;
      position: absolute; }
    .timeline_item .read_more .read_more_text {
      position: absolute; }
  .timeline_item .read_more_content {
    display: none;
    margin-bottom: 40px; }
  .timeline_item .timeline_date {
    font-weight: bold;
    color: black;
    font-family: "Source Sans Pro", sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.8px;
    margin-right: 20px; }
  .timeline_item .marker {
    position: absolute;
    width: 48px;
    height: 15px;
    left: -48px;
    top: 20px; }
    .timeline_item .marker .marker_line {
      width: 48px;
      background: #ccc;
      height: 1px;
      position: absolute;
      top: 7px;
      left: 0; }
    .timeline_item .marker .timeline_dot {
      position: absolute;
      top: 0;
      left: 0;
      width: 15px;
      height: 15px;
      border-radius: 7.5px;
      background: #D8D8D8;
      z-index: 10; }
  .timeline_item.collapsed {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    cursor: pointer;
    border-top: 1px solid #ccc; }
    .timeline_item.collapsed .marker {
      top: -8px; }
    .timeline_item.collapsed .timeline_date {
      position: absolute;
      left: 20px;
      top: -10px;
      z-index: 10;
      transition: all .2s ease; }
    .timeline_item.collapsed .timeline_title {
      transition: all .2s ease; }
    .timeline_item.collapsed .timeline_item_text {
      margin-top: 100px; }
    .timeline_item.collapsed .extra_top_margin {
      margin-top: 120px; }
    .timeline_item.collapsed.closed .timeline_title:hover, .timeline_item.collapsed.closed .timeline_date:hover {
      color: black; }
    .timeline_item.collapsed.open .timeline_date {
      top: 20px;
      left: 22px; }
    .timeline_item.collapsed.open .timeline_title {
      position: absolute;
      color: black;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 18px;
      font-weight: bold;
      left: 22px;
      width: 300px;
      top: 70px;
      z-index: 10; }
    .timeline_item.collapsed .timeline_title {
      position: absolute;
      left: 110px;
      width: 300px;
      top: -12px;
      z-index: 10; }
    .timeline_item.collapsed .collapsed_content {
      position: absolute;
      top: -17px;
      background: white;
      display: inline-block;
      padding: 5px 40px 5px 20px;
      height: 30px;
      width: 375px; }
    .timeline_item.collapsed .full_content {
      display: none;
      border: 1px solid #ccc;
      border-top: 0; }
  .timeline_item.highlighted {
    border: 1px solid #ccc; }
    .timeline_item.highlighted .marker {
      top: 100px; }
    .timeline_item.highlighted .equal_col_height_row {
      min-height: 225px; }
    .timeline_item.highlighted .timeline_dot {
      background: black; }
  .timeline_item.expanded {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }
  .timeline_item .timeline_text {
    padding: 20px; }

.timeline_item_title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 31px; }

.timeline_item_text {
  margin-bottom: 20px;
  font-family: "Crimson Text", serif;
  font-size: 13px; }

.timeline_bar {
  position: absolute;
  width: 1px;
  height: 104%;
  left: -25px;
  background: #979797;
  transition: height .3s ease; }
  .timeline_bar .timeline_top {
    position: absolute;
    top: 0;
    width: 20px;
    background: #979797;
    height: 1px;
    left: -10px; }
  .timeline_bar .timeline_bottom {
    position: absolute; }
    .timeline_bar .timeline_bottom .timeline_bottom_text {
      font-family: "Source Sans Pro", sans-serif;
      font-size: 14px;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      position: absolute;
      left: -28px;
      width: 100px;
      height: 20px;
      bottom: -10px;
      cursor: pointer; }
  .timeline_bar.closed .timeline_bottom {
    height: 30px;
    width: 25px;
    background: url(../img/timeline_arrow_bottom.png) no-repeat;
    bottom: -20px;
    left: -11px; }
    .timeline_bar.closed .timeline_bottom .expand_text_opened {
      display: none; }
    .timeline_bar.closed .timeline_bottom .expand_text_closed {
      display: inline; }
  .timeline_bar.open {
    height: 100%; }
    .timeline_bar.open .timeline_bottom {
      bottom: 0;
      border-top: 2px solid grey;
      width: 25px;
      left: -12px; }
      .timeline_bar.open .timeline_bottom .timeline_bottom_text {
        bottom: -30px; }
      .timeline_bar.open .timeline_bottom .expand_text_opened {
        display: inline; }
      .timeline_bar.open .timeline_bottom .expand_text_closed {
        display: none; }

#activity {
  position: relative;
  padding-bottom: 120px; }

.graph_container {
  display: none;
  text-align: center;
  padding: 50px; }
  .graph_container .full_image {
    width: 70%;
    height: auto; }

.full_image {
  width: 100%;
  height: auto; }

/* Perspective Section */
.perspective_container {
  border: 1px solid #CFCDCD;
  border-top: 5px solid #FFC462;
  padding: 20px;
  background: white;
  min-height: 380px;
  position: relative; }
  .perspective_container .perp_box_row_template {
    display: none; }
  .perspective_container .up, .perspective_container .down {
    cursor: pointer;
    margin: 0 auto; }

.persp_box_row {
  margin-bottom: 40px; }

.persp_box_rows_container {
  padding: 0 75px; }

.perspective_template {
  display: none; }

.commenter_container {
  margin-bottom: 20px;
  position: relative; }

.number_of_comments_container {
  margin-left: 10px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  letter-spacing: .25px;
  line-height: 20px; }

.tips_title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;
  color: #979797; }

.tips_list {
  margin-left: 0;
  padding-left: 18px;
  color: #979797; }
  .tips_list li {
    margin-bottom: 20px; }

.perspective_title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px; }

.perspective_vote {
  color: #FFC462; }
  .perspective_vote .vote_number_container {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
    letter-spacing: .25px;
    line-height: 20px;
    color: black; }
  .perspective_vote .number {
    margin-right: 5px; }

.perspective_body {
  margin-bottom: 20px;
  min-height: 100px;
  font-family: "Crimson Text", serif;
  font-size: 13px; }

.post_comment_button {
  display: none;
  color: white;
  border-radius: 5px;
  padding: 15px 10px;
  background: #FFC462;
  text-align: center;
  cursor: pointer;
  margin-top: 20px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px; }
  .post_comment_button.persp_submit {
    float: none;
    width: 100%;
    display: block; }

.add_new_perspective_container {
  position: relative; }
  .add_new_perspective_container .new_persp_col {
    border: 1px solid #CFCDCD;
    border-top: 4px solid #FFC462;
    padding: 20px;
    background: white;
    padding-top: 50px;
    margin-bottom: 40px;
    margin-top: -1px; }
    .add_new_perspective_container .new_persp_col .perspective_title {
      font-family: "Source Sans Pro", sans-serif;
      font-size: 14px;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      font-weight: normal;
      margin-bottom: 20px; }
  .add_new_perspective_container .new_persp_form_container {
    display: none;
    position: absolute;
    top: 1px;
    width: 100%;
    z-index: 10;
    background: white; }
    .add_new_perspective_container .new_persp_form_container .new_persp_form_title {
      margin-bottom: 20px;
      width: 100%;
      height: 30px;
      border: 1px solid #BABABA;
      padding: 25px; }
    .add_new_perspective_container .new_persp_form_container .new_persp_form_description {
      width: 100%;
      height: 200px;
      border: 1px solid #BABABA;
      padding: 25px; }
  .add_new_perspective_container .add_new_perspective_hr {
    background: #979797;
    width: 90%;
    height: 1px;
    margin: 100px auto 40px auto; }
  .add_new_perspective_container .add_new_perspective_button {
    position: absolute;
    width: 125px;
    height: 60px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    top: -25px;
    z-index: 20;
    cursor: pointer; }

.comment_count_container {
  margin-bottom: 20px;
  cursor: pointer; }
  .comment_count_container .comment_icon {
    width: 18px;
    height: 17px;
    background: url(../img/comment.png) no-repeat;
    vertical-align: middle;
    display: inline-block; }
  .comment_count_container.open .comment_icon {
    background: url(../img/comment_dark.png) no-repeat; }

.new_comment_container {
  background: white;
  display: none; }

.new_comment_template {
  display: none; }

.new_comment {
  margin-bottom: 10px;
  border-top: 1px solid #DDDDDD;
  padding: 10px 0; }

.comment_input {
  display: inline-block;
  width: 80%;
  border: 1px solid transparent;
  height: 30px;
  padding: 5px;
  border: 0px solid orange;
  transition: height 0.3s; }

.comment_box_container {
  border: 1px solid #BABABA;
  border-radius: 5px;
  padding: 10px;
  margin: 20px 0 10px 0;
  background: white; }
  .comment_box_container.open {
    position: relative; }
  .comment_box_container .avatar {
    vertical-align: top; }
  .comment_box_container.open .comment_input {
    height: 60px; }

.avatar {
  margin-right: 10px; }

.commenter {
  display: inline-block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: bold; }
  .commenter .not_bold {
    font-weight: normal; }

.new_comment_text {
  font-family: "Crimson Text", serif;
  font-size: 13px; }

/* What to Watch */
.looking_list_container {
  text-align: left; }

.looking_list {
  margin-bottom: 10px;
  position: relative;
  -webkit-padding-start: 16px; }
  .looking_list .number {
    border: 1px solid #525252;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    display: inline-block; }

/* About the Author */
.about_author {
  margin-bottom: 10px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: bold; }

.about_author_avatar {
  max-width: 115px;
  margin-left: 10px; }

.feedback_container {
  background: #f0f0f0;
  padding-bottom: 20px;
  margin-right: 0px; }
  .feedback_container .feedback_instructions {
    padding-top: 50px; }

.feedback_submit_button {
  background: #FFC462;
  margin-top: 20px;
  padding: 15px 40px;
  cursor: pointer;
  color: black;
  border-radius: 5px;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  text-align: center; }

.author_info_container {
  padding-top: 50px; }

.feedback_title {
  margin-bottom: 20px; }

.feedback_textarea {
  width: 100%;
  height: 150px;
  padding: 20px; }

/* MOBILE STYLES */
.mobile_nav {
  padding-top: 100px;
  z-index: 10;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  text-align: center; }
  .mobile_nav a {
    display: block;
    margin: 0 auto 40px auto;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: white; }

/* Hamburger Icon */
#hamburger {
  display: none;
  z-index: 30;
  width: 60px;
  height: 45px;
  position: fixed;
  right: 20px;
  top: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  -ms-transform: scale(0.5, 0.5);
  /* IE 9 */
  -webkit-transform: scale(0.5, 0.5);
  /* Safari */
  transform: scale(0.5, 0.5); }

#hamburger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

#hamburger.open span {
  background: white; }

#hamburger span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center; }

#hamburger span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center; }

#hamburger span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center; }

#hamburger.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px; }

#hamburger.open span:nth-child(2) {
  width: 0%;
  opacity: 0; }

#hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px; }

/* Menu */
.menu_image {
  width: 921px;
  height: 410px;
  margin: 100px auto;
  display: block; }

/*==================================================
=            Bootstrap 3 Media Queries             =
https://scotch.io/tutorials/default-sizes-for-twitter-bootstraps-media-queries
==================================================*/
/* Sass mixins */
/*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  #hamburger {
    display: none; } }
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  #hamburger {
    display: none; } }
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  #hamburger {
    display: block; }

  .topic_box, .nav {
    display: none; }

  .pathfinder_nav {
    background: transparent; }

  .top_section {
    margin-top: 0; }

  .top_title {
    font-size: 45px;
    line-height: 60px;
    padding: 0 30px; }

  .top_row_spotlight_mobile {
    margin-bottom: 40px; }

  .header_text {
    margin-bottom: 40px;
    font-family: "Crimson Text", serif;
    font-size: 26px;
    line-height: 38px; }

  .full_back_image {
    height: 200px;
    width: 100%;
    margin: 0 15px;
    border-right: 0; }

  .pathfinder_nav.not_top {
    box-shadow: 0px 0px 0px 0px rgba(184, 183, 183, 0.5); }

  .perspective_container {
    margin-bottom: 20px; }

  .overview_image_container img {
    width: 120%;
    margin-left: -10%; }

  .graph_container .full_image {
    width: 120%;
    margin-left: -10%; }

  .feedback_container {
    margin-left: 0; }

  .feedback_textarea {
    width: 100%; }

  .more_details_button {
    margin-bottom: 20px; }

  .author_info_container {
    padding-top: 0; }

  .persp_box_rows_container {
    padding: 0 0px; }

  .add_new_perspective_container {
    padding: 0; }

  .padded_section {
    padding-right: 15px;
    padding-left: 15px; } }
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  #hamburger {
    display: block; }

  .topic_box, .nav {
    display: none; }

  .pathfinder_nav {
    background: transparent; }

  .top_section {
    margin-top: 0; }

  .top_title {
    font-size: 45px;
    line-height: 60px;
    padding: 0 30px; }

  .top_row_spotlight_mobile {
    margin-bottom: 40px; }

  .header_text {
    margin-bottom: 40px;
    font-family: "Crimson Text", serif;
    font-size: 26px;
    line-height: 38px; }

  .full_back_image {
    height: 200px;
    width: 100%;
    margin: 0 15px;
    border-right: 0; }

  .pathfinder_nav.not_top {
    box-shadow: 0px 0px 0px 0px rgba(184, 183, 183, 0.5); }

  .perspective_container {
    margin-bottom: 20px; }

  .overview_image_container img {
    width: 120%;
    margin-left: -10%; }

  .graph_container .full_image {
    width: 120%;
    margin-left: -10%; }

  .feedback_container {
    margin-left: 0; }

  .feedback_textarea {
    width: 100%; }

  .more_details_button {
    margin-bottom: 20px; }

  .author_info_container {
    padding-top: 0; }

  .persp_box_rows_container {
    padding: 0 0px; }

  .add_new_perspective_container {
    padding: 0; }

  .padded_section {
    padding-right: 15px;
    padding-left: 15px; }

  .timeline_bar {
    left: -2px; }

  .timeline_item .marker {
    left: -17px; }

  .timeline_item .marker .timeline_dot {
    left: -8px; }

  .timeline_item .marker .marker_line {
    width: 17px; }

  .timeline_bar .timeline_bottom .timeline_bottom_text {
    left: 0px; }

  .activity_col {
    margin-left: 30px; } }
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  #hamburger {
    display: block; }

  .topic_box, .nav {
    display: none; }

  .pathfinder_nav {
    background: transparent; }

  .top_section {
    margin-top: 0; }

  .top_title {
    font-size: 45px;
    line-height: 60px;
    padding: 0 30px; }

  .top_row_spotlight_mobile {
    margin-bottom: 40px; }

  .header_text {
    margin-bottom: 40px;
    font-family: "Crimson Text", serif;
    font-size: 26px;
    line-height: 38px; }

  .full_back_image {
    height: 200px;
    width: 100%;
    margin: 0 15px;
    border-right: 0; }

  .pathfinder_nav.not_top {
    box-shadow: 0px 0px 0px 0px rgba(184, 183, 183, 0.5); }

  .perspective_container {
    margin-bottom: 20px; }

  .overview_image_container img {
    width: 120%;
    margin-left: -10%; }

  .graph_container .full_image {
    width: 120%;
    margin-left: -10%; }

  .feedback_container {
    margin-left: 0; }

  .feedback_textarea {
    width: 100%; }

  .more_details_button {
    margin-bottom: 20px; }

  .author_info_container {
    padding-top: 0; }

  .persp_box_rows_container {
    padding: 0 0px; }

  .add_new_perspective_container {
    padding: 0; }

  .padded_section {
    padding-right: 15px;
    padding-left: 15px; }

  .timeline_bar {
    left: -2px; }

  .timeline_item .marker {
    left: -17px; }

  .timeline_item .marker .timeline_dot {
    left: -8px; }

  .timeline_item .marker .marker_line {
    width: 17px; }

  .timeline_bar .timeline_bottom .timeline_bottom_text {
    left: 0px; }

  .activity_col {
    margin-left: 30px; } }

/*# sourceMappingURL=main.css.map */
